
# blank line equals a seperator
# line starting with # is a comment
# ! negates patern i.e. includes it
# a leading / matches beginning of pathname. "/*.c" matches "catfile.c" but not "dog/catfile.c"
# foo/ will match directory foo and sub-directories but not files
# **/foo matches file or directory "foo" anywhere
# **/foo/bar matches file or directory "bar" anywhere when it is a directly under directory "foo"
# /** matches everything inside. "abc/**" matches all files inside directory "abc" relative to location of .gitignore file 

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

.gitignore
.micropico
.bak/
.vscode/
*.backup

# dependencies
/node_modules
/.pnp
.pnp.js

# cache
.eslintcache

# py
/__pycache__
*.pyc
*_xxx.*
*x.py

# data
*.data
*.json